/* MAIN LAYOUT */
body {
    margin: 0;
	 position: absolute;
	 top: 0;
    background: #171718;
    min-width: 462px;
    -webkit-text-size-adjust: none; /* The text size is not adjusted for Safari on iPhone */
}
.main {
	transform: translateY(-152px);
    padding: 0 0 60px;
    min-height: 300px;
}


/* HEADER */
.header {
	display: flex;
	margin-top: 1em;
	width: calc(100vw - 15px);
	justify-content: space-between;
	position: absolute;
	top: 2em;
	z-index: 9;
   background: rgba(0, 0, 0, 0);
}
.header > .logo {
	position: relative;
	left: 2em;
}
.header > button {
	position: relative;
	right: 2em;
}

button {
	background: none;
	box-sizing: border-box;
	border: 2px solid #ffffff;
	border-radius: 0px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	font-family: 'MuliBold';
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;;
}

/* FOOTER */
.footer {
    background: none;
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 grid-template-areas: "a b c";
	 justify-items: center;
	 justify-content: space-around;
	 margin-bottom: 1em;
}
.footer .logo-area {
	grid-area: a;
	font-family: 'MuliBold';
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 0;
}
.footer .logo-area > img {
	margin-right: 1em;
}
.footer .phone {
	grid-area: b;
}
.footer a {
	font-family: 'MuliBold';
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 0;
	text-align: center;
	text-decoration: none;
}
.footer .sns {
	grid-area: c;
}
.footer > .sns  > a {
	margin-left: 1em;
	margin-right: 1em;
}
.hero {
	--hero-width: calc(100vw - 15px);
	width: var(--hero-width);
	min-height: calc((var(--hero-width) * 0.56));
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
}
.hero .content {
	position: absolute;
	top: 13%;
	left: 18%;
}
.hero .content .cta {
	margin-top: 3.5em;
}
.hero .content .cta a {
	text-decoration: none;
}
section {
	margin-bottom: 12%;
}
.two-column,
.subscribe {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "a b";
	align-items: center;
}
div.left {
	grid-area: a;
}
div.right {
	grid-area: b;
}
.right > .content > .responsive {
	margin-left: 10% !important;
}
div.responsive {
	width: 60%;
}
.two-column .image {
	width: 100%;
	object-fit: cover;
}
.subscribe {
	align-items: initial;
}
.subscribe .form-area .result {
	font-family: 'MuliRegular';
	font-size: 16px;
	color: red;
	margin-top: 1em;
	margin-bottom: 1em;
}
.subscribe .form-area .form {
	width: 90%;
	display: grid;
	grid-template: 30% 30% 40% / 1fr 1fr;
	row-gap: 7px;
	column-gap: 1em;
	grid-template-areas: "a b"
								"c c"
								"d e";
	justify-items: left;
	align-items: center;
}

.subscribe .form-area {
	padding-right: 10vw;
}
.subscribe .form-area .form input {
	display: block;
	width: 100%;
	background-color: #3e3e3e;
	line-height: 3em;
	border: none;
	font-family: 'MuliRegular';
	font-size: 16px;
	color: #ffffff;
	/* padding-left: 1em; */
	text-indent: 1em;
}
.subscribe .form-area .form input:nth-child(1) {
	grid-area: a;
}
.subscribe .form-area .form input:nth-child(2) {
	grid-area: b;
}
.subscribe .form-area .form input:nth-child(3) {
	grid-area: c;
}
.subscribe .form-area .form button {
	grid-area: d;
	line-height: 2.5em;
	padding-left: 3em;
	padding-right: 3em;
}

/* BREAKPOINT 1200px */

@media only screen and (max-width: 1200px) and (min-width: 961px) {
	div.responsive {
		width: 80%;
	}
}
/* BREAKPOINT 960px */

@media only screen and (max-width: 960px) {
	.two-column,
	.subscribe {
		grid-template: 1fr 1fr / 1fr;
		grid-template-areas: "a"
									"b";
		row-gap: 3em;
		justify-content: center;
		align-items: center;
	}
	div.image-wrapper {
		grid-area: a;
	}
	div.content-wrapper {
		grid-area: b;
	}
	.hero {
		--hero-width: calc(100vw - 15px);
		background-size: auto;
		min-height: calc((var(--hero-width) * 1.2));
	}
	.hero .content {
		top: 11%;
		left: 5%;
	}
	div.responsive {
		width: 90%;
	}
	.subscribe .content-area .content {
		position: relative;
		top: 5%;
		left: 10%;
	}
	.subscribe .form-area {
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	.subscribe .form-area .form {
		width: 100%;
	}
	.footer {
		align-items: center;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		grid-row-gap: 1em;
		grid-template-areas: "a c"
									"b c";
	}
}

/* BREAKPOINT 640px */

/* when changing the breakpoint below, change it ito the same value in the script.js file as well */
@media only screen and (max-width: 640px) {
	.header > .logo {
		left: 5px;
	}
	.header > button {
		margin-right: 0;
		right: 10px;
	}
	.hero .content {
		top: 10%;
		left: 3%;
	}
	.subscribe .form-area {
		width: 90%;
	}
	.footer {
		align-items: center;
		grid-template: repeat(3, 1fr) / 1fr;
		grid-row-gap: 1em;
		grid-template-areas: "a"
									"c"
									"b";
	}
}
